<!DOCTYPE html>
<html>
<head>
  <title>Firewall</title>
  <%= stylesheet_link_tag    "firewall/application", media: "all" %>
  <%= javascript_include_tag "firewall/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
